.header {
  
  &__top {
    background: #0094FF;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__form {
    
    input {
      max-width: 260px;
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 250px;
      padding: 7px 0 7px 18px;
      border: none;

      &:active, &:focus {
        background: rgba(255, 255, 255, 0.2);
        border: none;
        color: #fff;
      }
    }
    input[type="text"]::placeholder { color: #fff; } 

    .form-group {
      margin-bottom: 0;

      > div {
        display: flex;
        align-items: center;
      }

      button {
        margin: 0 0 0 -34px;
        background-image: url("../images/header_search.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: inherit;
        height: 14px;
        width: 14px;
        border: none;

        &:active, &:focus {
          border: none;
          box-shadow: none !important;
          background-image: url("../images/header_search.svg") !important;
          background-color: inherit !important;
        }
      }
    }
  }

  &__lang {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .active {
      background: rgba(255, 255, 255, 0.4);
    }

    a {
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      display: block;
      margin: 0 0 0 10px;
      height: 100%;
      padding: 10px 10px;
      line-height: 37px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 14px;
      line-height: 19px;
      color: #000;
      line-height: 19px;
      padding-bottom: 5px;
      position: relative;
      border-bottom: 2px solid transparent;

      &:hover {
        text-decoration: none;
      }
    }

    .active {
      border-bottom: 2px solid #1E4383;  
      padding-bottom: 5px;
    }
  }

  &__bottom {
    .row {
      align-items: center;
      padding: 10px 0;
    }
  }

  .icon-mobile-nav {
    width: 30px;
    height: 15px;
    background-color: #000;;
  }

  .icon {
    background-color: red;
  }
}