.about-page {
  &__title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    width: 100%;
  }

  &__top {
    margin-bottom: 80px;
  }

  .leaders {
    margin-bottom: 80px;
    &__title {
      font-weight: bold;
      font-size: 40px;
      color: #000;
      text-align: center;
      padding-bottom: 40px;
    }
    &__img {
      text-align: center;
      display: block;
      padding-bottom: 15px;
      img {
        max-width: 270px;
      }
    }
    &__info {
      padding-left: 40px;
    }
    &__name {
      font-weight: bold;
      font-size: 20px;
      color: #000000;
      max-width: 270px;
      display: block;
      padding-bottom: 10px;
      &:hover {
        color: #0094FF;
      }
    }
    &__position {
      font-weight: 600;
      font-size: 16px;
      color: #656565;
    }
    &__item {
      margin-bottom: 25px;
    }
  }

  .trainers {
    margin-bottom: 80px;
    &__title {
      font-weight: 700;
      text-align: center;
      font-size: 40px;
      padding-bottom: 40px;
    }
    &__item {
      margin-bottom: 35px;
    }
    &__img {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(30, 67, 131, 0.7);
        transition: all .4s;
        opacity: 0;
      }
      &:hover {
        .trainers__text {
          opacity: 1;
        }
        &:after {
          opacity: 1;
        }
      }
      img {
        width: 100%;
      }
    }
    &__text {
      position: absolute;
      bottom: 15px;
      font-size: 14px;
      color: #FFFFFF;
      padding: 0 10px;
      opacity: 0;
      transition: all .4s;
      z-index: 1;
    }
    &__name {
      font-weight: bold;
      font-size: 20px;
      color: #000;
      padding-top: 10px;
      display: block;

      &:hover {
        color: #0094FF;
        text-decoration: none;
      }
    }
  }
  
  .about-me {
    margin-bottom: 80px;
    &__title {
      font-weight: 700;
      font-size: 40px;
      padding-bottom: 40px;
    }

    &__img {
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 992px) {
  .about-page {
    margin-bottom: 40px;
    &__top {
      margin-bottom: 40px;
    }
    .leaders {
      margin-bottom: 40px;
      &__img {
        img {
          width: 100%;
        }
      }
      &__info {
        padding-left: 0;
      }
      &__name {
        max-width: 100%;
        font-size: 16px;
      }
    }
    .trainers {
      margin-bottom: 40px;
      &__name {
        font-size: 15px;
      }
      &__text {
        font-size: 12px;
      }
    }
    .about-me {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 768px) {
  .about-page {
    .about-me {
      &__img {
        margin-bottom: 15px;
        text-align: center;
        img {
          max-width: 300px;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .about-page {
    &__list {
      padding: 0 10px;
      margin: 0;
    }
    &__title {
      font-size: 25px;
    }
    .leaders {
      &__title {
        font-size: 25px;
        padding-bottom: 25px;
      }
      &__info {
        text-align: center;
      }
      &__name {
        padding-bottom: 0;
      }
    }
    .trainers {
      &__title {
        font-size: 25px;
        padding-bottom: 25px;
      }
      &__item {
        text-align: center;
      }
      &__img {
        img {
          max-width: 270px;
        }
      }
    }
    .about-me {
      &__title {
        font-size: 25px;
        padding-bottom: 25px;
        text-align: center;
      }
    }
  }
}