.compitition-page {
  margin-bottom: 80px;
  &__title {
    font-weight: 700;
    margin-bottom: 50px;
  }
  
  &__item {
    margin-bottom: 25px;
  }

  &__img {
    display: block;
    padding-bottom: 15px;
    border-radius: 10px;
    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 20px;
    color: #000;
  }

  &__date {
    font-weight: bold;
    font-size: 16px;
    color: #0094FF;
  }
}

@media (max-width: 992px) {
  .compitition-page {
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .compitition-page {
    &__title {
      font-size: 25px;
      margin-bottom: 25px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__date {
      font-size: 14px;
    }
  }
}