.main__slider {
  margin-bottom: 80px;
  .swiper-container {
    height: 640px;
  }

  .swiper-slide {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: radial-gradient(
        66.87% 353.43% at 26.12% 92.28%,
        #1e4383 0%,
        rgba(30, 67, 131, 0) 100%
      );
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
    }

    .container {
      position: relative;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
    }

    .swiper-caption {
      max-width: 480px;

      &__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 54px;
        color: #ffffff;
        padding-bottom: 15px;
      }

      &__text {
        font-size: 20px;
        line-height: 27px;
        color: #ffffff;
        padding-bottom: 25px;
      }
    }
  }

  .swiper-button-prev {
    width: 65px;
    height: 65px;
    background: #fff;
    left: 0;
    &::after {
      content: "";
      background-image: url(../images/slider_prev.svg);
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
    }
  }

  .swiper-button-next {
    width: 65px;
    height: 65px;
    background: #fff;
    right: 0;
    &::after {
      content: "";
      background-image: url(../images/slider_next.svg);
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
    }
  }
}

.main__carousel {
  max-height: 640px;

  .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel {
    &-item {
      // position: relative;
      &:after {
        background: radial-gradient(
          66.87% 353.43% at 26.12% 92.28%,
          #1e4383 0%,
          rgba(30, 67, 131, 0) 100%
        );
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
    &__title {
      font-weight: bold;
      font-size: 40px;
      line-height: 54px;
      color: #ffffff;
      padding-bottom: 15px;
      text-align: left;
    }

    &__text {
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
      padding-bottom: 25px;
      text-align: left;
      max-width: 480px;
      width: 100%;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: #fff;
    width: 65px;
    height: 65px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
  }
  .carousel-control-prev {
    background-image: url(../images/slider_prev.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .carousel-control-prev-icon {
    background: none;
  }
  .carousel-control-next {
    background-image: url(../images/slider_next.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .carousel-control-next-icon {
    background: none;
  }
}

.main-posts {
  padding-bottom: 50px;
  margin-bottom: 80px;
  &__item {
    display: flex;
    margin-bottom: 50px;
    position: relative;
  }

  .col-md-6 {
    padding: 0;
  }

  &__info {
    margin-left: 15px;
  }

  &__date {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #0094ff;
    padding-top: 10px;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    padding-top: 10px;
    display: block;
    transition: all 0.3s;

    &:hover {
      color: #0094ff;
      &:after {
        // content: "";
        opacity: 1;
      }
    }
    &:after {
      content: "";
      position: absolute;
      width: 150px;
      height: 150px;
      background: linear-gradient(
          0deg,
          rgba(30, 67, 131, 0.6),
          rgba(30, 67, 131, 0.6)
        ),
        #c4c4c4;
      top: 0;
      left: 0;
      background-color: inherit;
      transition: all 0.4s;
      opacity: 0;
    }
  }
}

.main-trainer {
  margin-bottom: 80px;
  &__list {
    justify-content: space-between;
  }

  &__item {
    padding: 0;
    flex: 0 0 23%;
  }

  &__img {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(30, 67, 131, 0.7);
      transition: all 0.4s ease;
      opacity: 0;
    }
  }

  &__text {
    content: "";
    position: absolute;
    bottom: 20px;
    max-width: 230px;
    font-size: 14px;
    color: #ffffff;
    margin: 0 20px;
    // display: none;
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease;
  }

  &__link {
    &:hover {
      text-decoration: none;
      .main-trainer__text {
        // display: block;
        opacity: 1;
      }
      .main-trainer__img:after {
        // content: "";
        opacity: 1;
      }
    }
  }

  &__name {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    padding-top: 25px;
  }

  .site__button {
    margin: 50px auto 0;
  }
}

.main-project {
  background-image: url("../images/project_fon.png");
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  position: relative;
  margin-bottom: 80px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(30, 67, 131, 0.8);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .main__title {
    color: #fff;
  }

  &__img {
    position: relative;
    border: 5px solid #1e4383;
    display: block;
    img {
      width: 100%;
      position: relative;
    }

    &:after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(30, 67, 131, 0.2);
    }

    &:hover {
      .main-project__text {
        // display: block;
        opacity: 1;
        // transform: translateY(0%);
      }
      .main-project__info {
        transform: translateY(0%);
      }
    }

    &:hover:after {
      background-color: rgba(30, 67, 131, 0.8);
    }
  }

  &__info {
    position: absolute;
    bottom: 10px;
    color: #fff;
    z-index: 2;
    padding: 0 15px;
    transform: translateY(75%);
    transition: all 0.4s ease;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
  }

  &__text {
    font-size: 14px;
    // display: none;
    opacity: 0;
    transition: all 0.4s ease;
    // transform: translateY(50%);
  }

  .site__button {
    margin: 50px auto 0;
  }
}

.main-compitition {
  margin-bottom: 80px;

  &__item {
    margin-bottom: 25px;
  }

  &__img {
    text-align: center;
    padding-bottom: 25px;
  }

  &__title {
    padding-bottom: 2px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
    color: #000;

    &:hover {
      color: #0094ff;
    }
  }

  &__date {
    font-weight: bold;
    font-size: 16px;
    color: #0094ff;
    padding-left: 15px;
  }
}

.main-gallery {
  margin-bottom: 80px;
  .swiper-container {
    padding: 0 0 0 60px;
  }

  &__movie {
    iframe {
      border-radius: 20px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    padding-top: 10px;
  }

  &__slick {
    margin-bottom: 50px;
  }

  .site__button {
    margin: 0 0 0 auto;
  }

  .slick-prev,
  .slick-next {
    background: #0094ff;
    width: 46px;
    height: 46px;
    top: inherit;
    bottom: -40%;
    border-radius: 50%;
    border: 1px solid #0094ff;

    &:hover {
      background: #fff;
    }
  }
  .slick-prev {
    left: 1%;
    background-image: url(../images/slick_next.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    &:hover {
      background-image: url(../images/slick_prev_hover.svg);
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(0deg);
    }
    &:before {
      content: none;
    }
    &:focus {
      background-image: url(../images/slick_prev_hover.svg);
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(0deg);
    }
  }
  .slick-next {
    left: 12%;
    background-image: url(../images/slick_next.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(0deg);
    &:hover {
      background-image: url(../images/slick_prev_hover.svg);
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
    }
    &:before {
      content: none;
    }
    &:focus {
      background-image: url(../images/slick_prev_hover.svg);
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
    }
  }
}

.main-arxiv {
  margin-bottom: 80px;
  &__img {
    text-align: center;
    padding-bottom: 30px;
  }

  &__item {
    margin-bottom: 25px;
  }

  &__title {
    padding-left: 15px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    padding-bottom: 10px;
    display: block;
    &:hover {
      color: #0094ff;
    }
  }

  &__text {
    font-size: 16px;
    color: #808080;
    padding: 0 15px;
  }

  .site__button {
    margin: 50px auto 0;
  }
}

.main-about {
  margin-bottom: 80px;
  &__img {
    img {
      width: 100%;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 30px;
    color: #808080;
  }

  .site__button {
    margin-top: 20px;
  }
}

.main-map {
  margin-bottom: 80px;
}

// responsive

@media (max-width: 1280px) {
  .main__slider .swiper-slide .container {
    left: 5%;
  }

  .main-trainer__img {
    img {
      width: 100%;
    }
  }

  // main_carousel
  .main__carousel {
    .carousel {
      &__title {
        font-size: 25px;
      }

      &__text {
        font-size: 18px;
      }
    }

    .site__button {
      max-width: 180px;
      padding: 15px 0;
    }
  }
}

@media (max-width: 1200px) {
  .main-gallery {
    &__movie {
      iframe {
        width: 400px;
        height: 320px;
      }
    }

    &__img {
      margin: 0 5px;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .main__carousel {
    .carousel {
      &-caption {
        top: 40%;
      }
      &__title {
        line-height: inherit;
      }

      &__text {
        line-height: inherit;
      }
    }
  }
}

@media (max-width: 992px) {
  .main-posts {
    margin-bottom: 40px;
    &__info {
      margin-left: 10px;
    }

    &__date {
      font-size: 14px;
    }

    &__title {
      font-size: 18px;
      line-height: inherit;
    }
  }

  .main__slider {
    margin-bottom: 40px;
  }

  .main-trainer {
    margin-bottom: 40px;
    &__img {
      img {
        width: auto;
      }
    }

    &__name {
      padding-top: 15px;
      font-size: 16px;
    }

    &__item {
      margin-bottom: 25px;
    }

    .site__button {
      margin-top: 25px;
    }
  }

  .main-project {
    padding: 25px 0;
    margin-bottom: 40px;
    &__img {
      margin-bottom: 30px;
      max-width: 300px;
      margin: auto;
    }
    .site__button {
      margin-top: 25px;
    }

    &__item {
      margin-bottom: 25px;
    }
  }

  .main-compitition {
    margin-bottom: 40px;
    &__info {
      text-align: center;
    }

    &__title {
      padding-left: 0;
    }

    &__date {
      padding-left: 0;
    }
  }

  .main-gallery {
    margin-bottom: 40px;

    &__movie {
      text-align: center;
      margin-bottom: 20px;
      iframe {
        width: 100%;
        height: 390px;
      }
    }

    &__title {
      text-align: center;
    }
    .slick-prev,
    .slick-next {
      bottom: -25%;
    }
  }

  .main-arxiv {
    margin-bottom: 40px;

    &__img {
      padding-bottom: 10px;
    }

    &__info {
      text-align: center;
    }

    &__title {
      padding-left: 0;
    }
  }

  .main-about {
    margin-bottom: 40px;
    &__img {
      text-align: center;
      padding-bottom: 15px;
      img {
        width: auto;
      }
    }

    &__text {
      text-align: center;
    }

    .site__button {
      margin: 20px auto 0;
    }
  }

  .main-map {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .main__carousel {
    .carousel {
      &-caption {
        top: 35%;
      }

      &-item {
        img {
          height: 300px;
        }
      }
      &__title {
        line-height: inherit;
      }

      &__text {
        line-height: inherit;
        max-width: 100%;
      }
    }

    .site__button {
      max-width: 150px;
      padding: 10px 0;
    }
    .carousel-control-prev,
    .carousel-control-next {
      width: 35px;
      height: 45px;
    }
  }
}

@media (max-width: 767px) {
  .main-trainer {
    &__item {
      flex: inherit;
    }

    &__img {
      text-align: center;
      max-width: 268px;
      margin: auto;
    }

    &__name {
      text-align: center;
    }
  }

  .main-posts {
    padding-bottom: 0;
  }

  .main-map {
    iframe {
      height: 250px !important;
    }
  }
}

@media (max-width: 640px) {
  .main__slider .swiper-button-prev,
  .main__slider .swiper-button-next {
    width: 45px;
    height: 45px;
  }

  .main__slider .swiper-slide .swiper-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }

  .main__slider .swiper-slide .swiper-caption__text {
    text-align: center;
  }

  .main__slider .swiper-slide .container {
    left: 0%;
  }

  .main__slider .swiper-container {
    height: 480px;
  }
}

@media (max-width: 576px) {
  .main-posts {
    .col-md-6 {
      padding: 0 15px;
    }

    &__title {
      font-size: 14px;
    }

    &__item {
      margin-bottom: 25px;
    }
  }
  .main-about {
    &__img {
      img {
        max-width: 300px;
        width: 100%;
      }
    }

    &__text {
      font-size: 14px;
    }
  }

  .main__carousel {
    .carousel {
      &-item {
        img {
          height: 250px;
        }
      }

      &__title {
        font-size: 22px;
        padding-bottom: 5px;
      }

      &__text {
        font-size: 16px;
        padding-bottom: 10px;
      }
    }
  }
  .main-gallery {
    &__movie {
      iframe {
        height: 250px;
      }
    }
  }
}

@media (max-width: 480px) {
  .main__slider .swiper-slide .swiper-caption {
    max-width: 300px;
  }
  .main__slider .swiper-slide .swiper-caption__title {
    font-size: 25px;
    padding-bottom: 10px;
    line-height: inherit;
  }
  .main__slider .swiper-slide .swiper-caption__text {
    font-size: 14px;
    padding-bottom: 15px;
    line-height: inherit;
  }

  .site__button {
    max-width: 160px;
    padding: 10px 0;
    font-size: 14px;
  }

  .main-gallery {
    .slick-prev,
    .slick-next {
      display: none !important;
    }

    .site__button {
      margin: auto;
    }
  }

  .main__slider .swiper-button-prev,
  .main__slider .swiper-button-next {
    width: 25px;
    height: 25px;
  }

  .main__slider .swiper-button-prev::after {
    background-size: 100% 75%;
    background-position: 0px 3px;
  }

  .main__slider .swiper-button-next::after {
    background-size: 100% 75%;
    background-position: 0px 3px;
  }
}

@media (max-width: 420px) {
  .main__carousel {
    .carousel {
      &-caption {
        top: 32%;
      }
      &-item {
        img {
          height: 200px;
        }
      }

      &__title {
        font-size: 18px;
        padding-bottom: 5px;
      }

      &__text {
        font-size: 14px;
        padding-bottom: 5px;
      }
    }

    .site__button {
      max-width: 120px;
      padding: 6px 0;
    }
  }
}

@media (max-width: 375px) {
  .main-posts {
    &__item {
      flex-direction: column;
      align-items: center;
    }

    &__info {
      margin: 0;
      text-align: center;
    }

    &__title {
      padding-top: 0;
    }
  }

  .main-compitition {
    &__img {
      img {
        width: 100%;
      }
    }
  }

  .main-arxiv {
    &__img {
      img {
        width: 100%;
      }
    }
  }
}
